html,
body {
  background-color: #fafafa;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.catContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  /* -1/2 width of width OR height */
  margin-left: -200px;
  margin-top: -200px;
}

.bg-line {
  position: absolute;
  width: 4100px;
  height: 1000px;
  top: -1110px;
  left: -1000px;
  background-color: #e84a5f;
  transform: rotate(14.2deg);
  transform-origin: top left;
  z-index: 1;
  border: 8px solid black;
}

/* CAT */
.cat__body {
  position: absolute;
  z-index: 2;
}
.cat__mouth--meow {
  position: absolute;
  top: 150px;
  left: 177px;
  z-index: 4;
}
/* CAT - Left hand */
.cat__hand-left--up {
  position: absolute;
  top: 106px;
  left: 2px;
  z-index: 4;
}
.cat__hand-left--down {
  position: absolute;
  top: 170px;
  left: -14px;
  z-index: 4;
}
/* CAT - Right hand */
.cat__hand-right--up {
  position: absolute;
  top: 190px;
  left: 340px;
  z-index: 4;
}
.cat__hand-right--down {
  position: absolute;
  top: 250px;
  left: 300px;
  z-index: 4;
}

/* Chicken */
/* Chicken - Left*/
.chicken-left--up {
  position: absolute;
  top: 225px;
  left: -140px;
  z-index: 3;
}
.chicken-left--down {
  position: absolute;
  top: 225px;
  left: -160px;
  z-index: 3;
}
/* Chicken - Right*/
.chicken-right--up {
  position: absolute;
  top: 300px;
  left: 160px;
  z-index: 3;
}
.chicken-right--down {
  position: absolute;
  top: 300px;
  left: 140px;
  z-index: 3;
}

.none {
  display: none;
}

.keys {
  position: absolute;
  bottom: 30px;
  left: 50px;
  z-index: 5;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #2b2b2b;
}
.keys__hitChicken {
  display: inline-block;
  margin-right: 15px;
  line-height: 24px;
}
.keys__meow {
  display: inline-block;
  line-height: 24px;
}

.key {
  display: inline-block !important;
  min-width: 30px;
  height: 30px;
  padding: 4px 0 0 6px;
  background: #f5f5f5;
  border: 4px solid #2b2b2b;
  border-radius: 6px;
  box-shadow: inset -6px -4px 0 0 #ccc;
  text-align: left;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
}
.key__text {
  margin-right: 10px;
}
.key__space {
  text-align: center;
  padding-right: 10px;
  min-width: 100px;
}
.credit {
  position: absolute;
  bottom: 30px;
  right: 50px;

  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
